.h1{
    position: absolute;
    display: flex;
    padding: 20px;
    justify-items: center;
    text-shadow: 10px 10px 5px #35464d;

}

#gear{
    width: 50px;
    animation: rotate 6s linear infinite;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

#p1{
    color: #252525;
    font-size: 20px;
    align-self: center;
    margin-left: 10px;
    font-family: Fantasy;
}