* {
    margin: 0;
    padding: 0;

}

.backGround {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, #f59042, #9c8966);
    display: flex;
    animation: night 15s linear infinite;
}

@keyframes night {
    0% {
        background-image: linear-gradient(to top, #f59042, #9c8966);
    }
    25% {
        background-image: linear-gradient(to top, #35464d, #9c7166);
    }
    100% {
        background-image: linear-gradient(to top, #f59042, #9c8966)
    }
}

#planet {
    width: 200px;
    height: 200px;
    position: relative;
    top: 110px;
    left: 1080px;
    animation: rotate 20s linear infinite;
    z-index: 2;
}

#airship {
    z-index: 2;
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
    animation: swinging ease-in-out 1s infinite alternate, flying 10s linear infinite;
}

#airship:hover {
    animation-play-state: paused;
}

@keyframes swinging {
    0% {
        transform: rotate(25deg);
    }
    100% {
        transform: rotate(-15deg);
    }
}

@keyframes flying {
    0% {
        left: 600px;
        top: 0;
    }
    20% {
        width: 200px;
        height: 200px;
        left: 200px;
        top: 400px;
    }
    40% {
        left: 200px;
        top: 700px;
    }
    60% {
        width: 70px;
        height: 70px;
        left: 700px;
        top: 500px;
    }
    80% {
        width: 1px;
        height: 1px;
        left: 700px;
        top: 200px;
    }
    100% {
        width: 100px;
        height: 100px;
        left: 600px;
        top: 0;
    }
}



@keyframes flowing {
    0% {
        top: 450px;
    }
    50% {
        top: 470px;
    }
    100% {
        top: 450px;
    }
}

#spaceStation {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 150px;
    left: 1080px;
    animation: patrolling linear 10s infinite;
}
@keyframes patrolling {
    0%{z-index: 2;
        width: 80px;
        height: 80px;
        top: 150px;
        left: 1000px;
        transform: rotate(25deg);
    }
    25%{
        z-index: 2;
        width:100px ;
        height:100px ;
        top: 150px;
        left:1300px ;
        transform: rotate(-25deg);
    }
    50%{
        z-index: 0;
        width:20px ;
        height:20px ;
        top: 150px;
        left: 1150px;
        transform: rotate(25deg);

    }
    75%{
        z-index: 0;
        width:20px ;
        height:20px ;
        top: 150px;
        left:1080px ;
        transform: rotate(-25deg);
    }
    100%{
        z-index:2 ;
        width:80px ;
        height:80px ;
        top: 150px;
        left: 1000px;
        transform: rotate(25deg);
    }
}

#planet2{
    position: fixed;
    top:500px;
    right: 20%;
    width: 300px;
    height: 300px;
    animation: rotate2 10s infinite alternate;
}
@keyframes rotate2 {
    0%{
        transform: rotate(25deg);
    }
    100%{
        transform: rotate(-25deg);
    }
}


#planet3{
    z-index: 0;
    position: fixed;
    top: 30%;
    right: -1%;
    width: 2500px;
    height: 2500px;
    animation: rotate 120s infinite alternate;
}

#cloud1{
    z-index: 1;
    overflow-y: hidden;
    width: 300px;
    height: 300px;
    position: relative;
    top: 280px;
    animation: flowing2 linear infinite 30s alternate;
}
@keyframes flowing2 {
    0%{
        top: 280px;
        left: 300px;
    }
    40%{
        top: 380px;
        left: 380px;
    }
    60%{
        top: 480px;
        left: 660px;
    }
    80%{
        top: 380px;
        left: 580px;
    }
    100%{
        top: 280px;
        left: 300px;
    }
}

#cloud2{
    width: 260px;
    height: 260px;
    position: relative;
    top: 260px;
    right: 300px;
    animation: flowing3 linear infinite 20s alternate;
}
@keyframes flowing3 {
    0%{
        top: 260px;
        right: 300px;
    }
    33.33%{
        top: 290px;
        right: 400px;
    }
    66.66%{
        top: 400px;
        right: 600px;
    }
    100%{
        top: 270px;
        right: 400px;
    }
}

#galaxy{
    width: 180px;
    height: 180px;
    position: fixed;
    top: 150px;
    left: 200px;
    animation: flowing4 10s infinite linear alternate;
}
@keyframes flowing4 {
    0%{
        transform: rotate(0deg);
        width: 90px;
        height: 90px;
    }
    100%{
        transform: rotate(360deg);
        width: 180px;
        height: 180px;
    }
}

